@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:wght@200;300;500&display=swap');
.top{
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    min-height:100vh;
    overflow:hidden;
        .Vedio{
            box-sizing: border-box;
            color: white;
            position: -webkit-sticky;
            position: relative;
            overflow: hidden;
            height: 100%;
            width:100%;
            video{
                width: 100vw;
                height: 100vh;
                object-fit: cover;
                // overflow: auto;
                position: fixed;
                top:0;
                left:0;
                opacity:0.9;
                filter: brightness(85%);
            }
        }
        .text{
            position:absolute;
            left:20vw;
            top:2vh;
            color: white;
            font-size: 2rem;
            font-family: 'Dancing Script', cursive;
            
            font-weight: bold;
        }
        .intro{
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            // background-color: wheat;
            position: absolute;
            top:25vh;
            left:10vw;
            height:40vh;
            width:90vw;
            .typing{
                position:relative;
                font-size: 2.5rem;
                color: white;
                font-weight: bold;
                // background-color: aqua;
                min-height: 15vh;
                @media only screen and (max-width: 800px) {
                    min-height: 11vh;
                }
                .Typewriter__wrapper{
                    span{
                        // style='color:#27ae50'
                        color:#1b7a37;
                    }
                }
               
            }
            .persona-wrap{
                position: relative;
                animation: fadeInAnimation ease 1s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                @keyframes fadeInAnimation {
                    0% {
                        opacity: 0;
                    }
                    100% {
                        opacity: 1;
                    }
                }
                .persona{
                    position: relative;
                    margin-left: 0;
                    margin-bottom: 0.8rem;
                    p{
                        color: white;
                        text-transform: capitalize;
                        font-size: 1.1rem;
                        font-weight: 500;
                        letter-spacing: 3px;
                    }
                }
                .icons{
                    display: flex;
                    color: white;
                    font-size: 2rem;
                    margin-left: 0;
                    position: relative;
                    width: 30%;
                    .icons-list{
                        display: flex;
                        list-style: none;
                        align-items: left; /* Default */
                        justify-content: flex-start;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        .icons-list-list{
                            display: block;
                            flex: 0 1 auto;
                            margin-right: 2rem;
                            a{
                                color: white;
                            }
                        }
                        .icons-list-list:hover{
                            cursor: pointer;
                        }
                    }
                }
            }
        }
}